.product-component{
    /* margin-left: 25px;
    margin-right: 25px; */
    height: 100%;
}
img{
    object-fit:scale-down;
    height: 70%;
    width: 100%;
}
.product-section{
    height: 550px;
    justify-content: center;
    overflow-y: scroll;
}
.product-grid {
    height: 280px;
    width: 230px;
}
.search-bar{
    display: flex;
    margin: 20px auto;
    margin-bottom: 40px;
    justify-content: center;
    width:40%;
    
}
.card-media{
    width: 100%;
    height: 100%;
}
.filter-button{
    display: none;
}
.product-call {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1%;    
}
.product-price {
    font-weight: bold;
}
#add-btn{
    font-weight:bold;
    background: #000;
    color: #fff;
}
.product-section::-webkit-scrollbar {
    display: none;
  }
.no-product{
    font-size: 2rem;
}

@media screen and (max-width: 900px){

    .filter-button{
        display: block;
    }
    .search-bar{
        width: 80%;
    }
    .filter-grid{
        font-size: medium;
    }
}
